@font-face {
    font-family: 'Montserrat Bold';
    src: url('/Montserrat/static/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Montserrat/static/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    font-family: 'Montserrat', monospace;
    overflow-y: scroll;
}
footer{
    background-color: #0E38AB;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

h1{
    font-family: 'Montserrat Bold', monospace;
}

p{
    margin-bottom: 15px;
    margin-top: 15px;
}


.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX("-100px");
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.small-font{
    font-size: small;
}


/*===== popups css =====*/

.blur_content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ccc9; 
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.credentials_popup_container {
    color: #fff;
    width: 40%;
    max-width: 400px;
    z-index: 1000; 
    text-align: center;
    margin:0;
}


.credentials_popup_container .credentials_title {
    width: 100%;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;

    background-color: #0E38AB;
    display: block;

    border-color: #0E38AB;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.credentials_popup_container .credentials_title h2 {
    width: 60%;
    margin: 0px auto;
    display: block;
}


.credentials_popup_container .credentials_popup_close {
    display: inline;
    float:right;
    text-align: right;
}

.credentials_popup_container .credentials_popup_close button{
    background-color: transparent;
    border:none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    padding:1.4em;
}


.credentials_popup_container .credentials_body {
    display: block;
    max-width:100%;
    padding:3em;
    background-color: #fff;
    text-align: left;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.credentials_popup_container .credentials_body input {
    line-height: 2em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    background-color:#eee;
    border-radius: 1em;
    border:none;
    width:100%;
    min-width: 100%;
    margin: 14px auto;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    font-size: 0.9em;
}

.credentials_popup_container .credentials_body input.credentials_submit_button {
    background-color:#FF8387;
    color: white;
    cursor: pointer;
}

.credentials_popup_container .credentials_body label {
    color: #FF8387;
    font-weight: bold;
}

@media (max-width:768px) {
    .credentials_popup_container{
        width: 85% !important;
        max-width: 700px ;
    }
}
