.job-content-list{
    width: 5vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s;
    margin: 0.3vw;
    border-radius: 1vw;
}
.job-item-list{
    margin-top: 2%;
    background-color:#dedede;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1%;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 120px;
}
.job-item-list:hover{
    background-color:#bdbdbd;
    transition: all 0.3s ease;
}

.job-item-list > li {
    width: 14.5%;
    display: inline-block;
}

.deleting-job{
    margin-top: 2%;
    background-color:#dedede;
    border-radius: 1vw;
    overflow: hidden;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deleting-job-opts{
    display: flex;
    flex-direction: row;
}
.deleting-job-opts > .yes{
    background-color: red;
    color:white;
    padding: 7%;
    border-radius: 100vw;
    border: red 2px solid;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.deleting-job-opts > .yes:hover{
    background-color: transparent;
    color: red;
    transition: all 0.3s ease;
}

.deleting-job-opts > .no{
    background-color: #0E38AB;
    color:white;
    padding: 7%;
    border-radius: 100vw;
    border: #0E38AB 2px solid;
    cursor: pointer;
    margin-left: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.deleting-job-opts > .no:hover{
    background-color: transparent;
    color:#0E38AB;
    transition: all 0.3s ease;
}


.author, .job_likes{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 2vw;
p{
    margin: 0;

}
.likes_text{
    font-size: 1vw;
}
}
.heart{
    color: red;
}
.job_name{
    font-weight: bold;
}
.job_name, .job_username, .job_likes, .job_layerthickness, .job_weight, .job_creation_date{
    font-size: 1.2vw;
}

.delete-enabled{
    background-color: rgb(255, 54, 54) ;
    animation: shake 0.2s ease-in-out infinite;
    color: white;
    li:last-child{
        .heart{
            color: white;
        }
    }
}
.delete-enabled:hover{
    background-color: #FF8387;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0.5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}
.likes_priv{
    display: flex !important; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.private_cell{
    font-size: 2vw;
    color: #676767;
}
.delete-enabled:nth-child(odd) { animation-delay: 0s; }
.delete-enabled:nth-child(even) { animation-delay: 0.15s; }