.profile_page {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100%;
}

.profile_page .profile_left_column {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2em;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 25%;
    height: 100%;
}

.admin_ctrl_panel > button{
    margin: 0.5em;
}

.profile_page img.profile_picture {
    display: block;
    width: 80%;
    margin: 10px auto;

}

.profile_page h2.username_text {
    display: inline;
    margin-bottom: 0;
    line-height: 2em;
}

.profile_page button.profile_button {
    display: inline;
    line-height: 2em;
    font-size: 1vw;

    border: 2px #0E38AB solid;
    background-color: #0E38AB;
    color: #f0f0f0;
    border-radius: 999vw;
    width: 2.2vw;
    height: 2.2vw;

    cursor: pointer;

    transition: all 0.2s ease;
}

.profile_page button.profile_button:hover {
    background-color: transparent;
    color: #0E38AB;

    transition: all 0.2s ease;
}

.profile_page .profile_jobs_section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2em;
    padding-bottom: 2em;

    float: right;
    flex: 70%;

    background-color: #f0f0f0;
}

.profile_page .profile_jobs_section_header {
    height: 4em;
    display: flex;
    align-items: center;

    input{
        margin-left: 2vw;
        background: none;
    }
}

.profile_page h3.profile_jobs_section_title {
    display: inline;
    float: left;
}

.profile_page button.profile_button#button2 {
    border-radius: 0.3em;

    display: inline;
    float: right;

    width: 150px;
    margin: 1em;
}

.profile_page .job_content {
    width: 280px;
    height: 280px;

    margin-top: 25px;
}

.profile_page .job_content img {
    margin: 10px auto;
    width: 260px;
    height: 260px;
    border-radius: 3em;
    transition: all 0.3s;
}

.profile_page .job_content:hover img {
    margin: 0 auto;
    width: 280px;
    height: 280px;
    transition: all 0.5s;
    cursor: pointer;
}


.profile_page .job_gallery {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.profile_page .job_gallery_container {
    text-align: center;
}

.profile_jobs_section_header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    z-index: 998;

    input{
        margin-left: 1vw;
    }
}

.usr-key{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1%;
}

.usr-key > li{
    width: 14.5%;
    display: inline-block;
}

.job-delete-btt{
    background-color:red;
    border: 2px red solid;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-left: 5%;
    cursor: pointer;
    width: max-content;
    user-select: none;
    transition: all 0.3s ease;
    text-wrap: nowrap;
}

.job-delete-btt:hover{
    background-color:transparent;
    color: red;
    transition: all 0.3s ease;
}

.activated-btt{
    background-color: #0E38AB !important;
    border: 2px #0E38AB solid;
    color: white;
}

.activated-btt:hover{
    background-color: transparent !important;
    color: #0E38AB;
}

.profile-search-project-name{
    outline: none;
    border: none;
    border-bottom: 2px solid #0E38AB;
}

.suggest-tag-input > button {
    border: 2px #0E38AB solid;
    background-color: #0E38AB;
    color: white;
    font-weight: bold;
    font-family: "Montserrat";
    padding: 0.5rem;
    border-radius: 0px 1rem 1rem 0px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.suggest-tag-input > button:hover {
    background-color: transparent;
    color: #0E38AB;
    transition: all 0.2s ease;
}

.suggest-tag-input > input{
    height: 2.2rem;
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding-left: 1rem;
    background-color: lightgray;
}

.suggest-tag-input {
    margin: 0.5rem 0 1rem 0;
}

.suggest-customer-form > div {
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.suggest-customer-form > div > input, .suggest-customer-form > div > textarea {
    margin: 0.2rem 0 0.2rem 0;
    border: none;
    border-radius: 1rem;
    
    background-color: lightgray;

    padding: 0.5rem;
}

.suggest-customer-form > div > textarea {
    resize: none;
    font-family: Arial;
}

.suggest-customer-form > button {
    border: 2px #0E38AB solid;
    background-color: #0E38AB;
    color: white;
    font-weight: bold;
    font-family: "Montserrat";
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.suggest-customer-form > button:hover {
    background-color: transparent;
    color: #0E38AB;
    transition: all 0.2s ease;
}