header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #0E38AB;
}

.header_title{
    font-size: 24px;
    color: white;
    padding-left: 25px;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin: 0 10px;
}

li.link_li a {
    display: block;
    color: #FF8387;
    font-size: 17px;
    font-weight: 900;
    text-decoration: none;
}

li.link_li a:hover{
    text-decoration: underline;
    color: white;
}

.login_btn, .signup_btn{
   background-color: transparent;
   border: 2px solid rgb(255, 131, 135);
   border-radius: 5px;
    padding: 5px 10px;
    color: #FF8387;
    font-size: 17px;
}

.login_btn:hover, .signup_btn:hover{
    background-color: rgb(255, 131, 135);
    color: white;
}

.link_li{
    display: flex;
    align-items: center;
}

#mercantec_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mercantec_logo{
    background-image: url("/3D_printer/Files/img/logo.svg");
    margin-left: 0;
    padding-top: 2px;
    padding-right: 4rem;
    margin-left: -14px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 14rem;
    height: 4rem;
}

.btn_lang {
    background: none;
    border: none;
    margin: 0.4vw;
    cursor: pointer;
}

.btn_lang img {
    width: 2rem; 
    height: auto;
    display: block;
    border-radius: 0.3vw;
    border: 2px solid white;
}

.not_selected img{
    filter: grayscale(100%);
}

.header_left{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.l_h_box{
    display: flex;
    align-items: center;
}

.help_direction{
    color: white;
    font-size: 30px;
    margin-left: 1.5vw;
}

.link_li > a > *:nth-child(2) {
    display: none;
}

.login_btn > svg {
    display: none;
}

.login_btn p {
    margin: 0;
}


@media (max-width: 730px) {

    .header_navbar svg {
        font-size: 1.5rem;
    }

    #mercantec_logo {
        background-image: url("/3D_printer/Files/img/logo_mobile.svg");
        width: 1rem;
        height: 4rem;
    }

    .header_title {
        display: none;
    }

    .link_li > a > *:nth-child(1) {
        display: none;
    }
    .link_li > a > *:nth-child(2) {
        display: flex;
    }

    .login_btn {
        border: none;
    }
    .login_btn > p {
        display: none;
    }
    .login_btn > svg {
        display: flex;
    }
}
