header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #0E38AB;
}
.header_title{
    font-size: 24px;
    color: white;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin: 0 10px;
}
a{
    
    color: #FF8387;
    font-size: 17px;
    font-weight: 900;
}
a:hover{
    color: white;
}
.login_btn, .signup_btn{
   background-color: transparent;
   border: 2px solid #FF8387;
   border-radius: 5px;
    padding: 5px 10px;
    color: #FF8387;
    font-size: 17px;
}
.login_btn:hover, .signup_btn:hover{
    background-color: #FF8387;
    color: white;
}
.link_li{
    display: flex;
    align-items: center;
}