div.close_login {
    display: inline;
    float:right;
    text-align: right;
}

div.close_login button{
    background-color: transparent;
    border:none;
    color:white;
    font-size: 1.2em;
    cursor: pointer;
    padding:1em;
}

div.blur_content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ccc9; 
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

div.login_container {
    color: white;
    width: 40%;
    max-width: 400px;
    z-index: 1000; 
    text-align: center;
    margin:0;
}

div.credentials {
    display: block;
    max-width:100%;
    padding:3em;
    background-color: rgb(255, 255, 255);
    text-align: left;
}


div.credentials input {
    line-height: 2em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    background-color:#eee;
    border-radius: 1em;
    border:none;
    width:100%;
    margin: 14px auto;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    font-size: 0.9em;
}

div.credentials input.login_button {
    background-color: #F95086;
    color: white;
    cursor: pointer;
}

div.credentials label {
    color: #F95086;
    font-weight: bold;
}

div.credentials_title {
    width: 100%;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;

    background-color: #5858D4;
    border-color: #5858D4;
    display: block;
}

div.credentials_title h2 {
    width: 60%;
    margin: 00px auto;
    display: block;
}