.arrow-left{
    position: absolute;
}
.arrow-right{
    position: absolute;
    left: 90%;
}

.arrow:hover{
    cursor: pointer;
    font-size: 55px;
    transition: all 0.2s;
}

.arrow{
    border: none;
    background: none;
    font-size: 48px;
    z-index: 998;
    top: 45%;
    transition: all 0.2s;
}

.col.slide-right{
    animation: slide-right 0.5s forwards;
}

.col.slide-left{
    animation: slide-left 0.5s forwards;
}

.jobs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.jobs-container .col{
    transform: translateX(-300%);
}

.col .job-info {
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.col .job-info p {
    height: 1rem !important;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}


@keyframes slide-right {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-600%);
    }
}

@media (max-width: 768px) {

    /* .jobs-container .col:nth-child(1),.jobs-container .col:nth-child(2) {
        display: none;
    } */

    .jobs-container .col{
        transform: translateX(-300%);
        width: 35vw;
        font-size: xx-small;
    }
}