.arrow-left{
    position: absolute;
}
.arrow-right{
    position: absolute;
    left: 90%;
}

.arrow:hover{
    cursor: pointer;
    font-size: 55px;
    transition: all 0.2s;
}

.arrow{
    border: none;
    background: none;
    font-size: 48px;
    z-index: 998;
    top: 45%;
    transition: all 0.2s;
}

.col.slide-right{
    animation: slide-right 0.5s forwards;
}

.col.slide-left{
    animation: slide-left 0.5s forwards;
}

.jobs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.jobs-container .col{
    transform: translateX(-300%);
}
/* 
.jobs-container .col:nth-child(-n+3) {
    visibility: hidden;
}

.jobs-container .col:nth-last-child(-n+3) {
    visibility: hidden;
} */

@keyframes slide-right {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-600%);
    }
}