.main_block {
    display: flex;
    width: 100%;
    min-height: 100vh; 
}

.home {
    flex: 2;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #f0f0f0; 
    overflow: hidden;
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
}

.tags-list{
    display: flex;
    flex-direction: column;
}

.tag-content{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 300px);
    box-sizing: border-box;
    position: relative;
}

.tag-content::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right,rgba(1,1,1,0),#f0f0f0);
}

.job-content{
    min-width: 290px;
    min-height: 290px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    background-image: url("http://192.168.116.229/3D_printer/Files/img/default-job.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 25px;

    transition: all 0.3s;
}

.job-content:hover{
    margin: 15px;
    min-width: 310px;
    min-height: 310px;
    transition: all 0.5s;
    cursor: pointer;
}

.jobs-container{
    display: flex;
    flex-direction: row;
}

ul li {
    padding: 5px 0;
    
}