.main_block {
    display: flex;
    width: 100%;
    min-height: 100vh; 
}

.home {
    flex: 2;
    padding: 20px;
    background-color: #f0f0f0; 
}

ul {
    list-style-type: none;
    padding: 0;
}

.tags-list{
    display: flex;
    flex-direction: column;
}

ul li {
    padding: 5px 0;
    
}
