.main_block {
    display: flex;
    width: 100%;
    min-height: 100vh; 
}

.home {
    flex: 2;
    padding-left: 1%;
    padding-top: 1%;
    background-color: #f0f0f0; 
    overflow: hidden;
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
}

.tags-list{
    display: flex;
    flex-direction: column;
}

.tag-content{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 22%);
    box-sizing: border-box;
    position: relative;
}

.tag-content::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right,rgba(1,1,1,0),#f0f0f0);
}

.job-content{
    width: 19vw;
    height: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 17%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s;
}

.job-content:hover{
    width: 21vw;
    height: 21vw;
    transition: all 0.5s;
    cursor: pointer;
}

.jobs-container{
    display: flex;
    flex-direction: row;
}

ul li {
    padding: 5px 0;
    
}
#upload-button{
    position: fixed;
    right: 5%;
    bottom: 5%;

    width: 80px;
    height: 80px;
    border-radius: 1vw;
    background-color: #0E38AB;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 997;

    cursor: pointer;

    p{
        color: white;
        font-size: xx-large;
        font-weight: bolder;
    }
}

.job-content{
    
    transition: all 0.3s;
}

.job-content:hover{
    transition: all 0.5s;
}

.job-link{
    margin: 1.6vw;
    transition: all 0.3s;
}

.job-link:hover{
    margin: 0.6vw;
    transition: all 0.5s;
}

.job-link:hover .job-content{
    width: 21vw;
    height: 21vw;
    transition: all 0.5s;
    cursor: pointer;
}