.blur_content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.signup_container {
    background-color: #0E38AB;
    color: white;
    width: 50%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000; 
}
