.container{
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.container .main{
    margin: 5%;
    width: 80%;
    height: 60%;
    position: relative;
}

.new-job-header{
    width: 100%;
    height: 100px;
    background-color: #0E38AB;

    display: flex;
    justify-content: center;
    align-items: center;
}

.new-job-header h2{
    color: white;
    margin: 0;
}

.img-upload:hover{
    background-color: rgb(232, 232, 232);
    transition: all 0.3s ease;
}

.upload-icon{
    font-size: xx-large;
}

.upload-options{
    width: 100%;
    display: flex;
    justify-content: end;
}

.upload-options button{
    margin: 15px;
    background-color: #FF8387;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 60%;
}

input.project-name{
    border: none;
    border-bottom: white solid 1px;
    font-size: xx-large;
    width: fit-content;
}

.needed {
    position: relative;
}

.needed::after{
    content: "*";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
    color: red;
}

.nj-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 30%;
}

input{
    max-width: 300px;
    border: none;
    border-bottom: 1px solid black;
}
input[type="number"]{
    max-width: 100px;
    font-size: large;
}

input:focus, input:hover{
    outline: none;
    border: none;
    border-bottom: 1px solid #FF8387;
}

.nj-label{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: calc(fit-content - 25px);
}

.nj-label textarea{
    width: 300px;
    height: 100px;
    resize: none;
    border-radius: 10px;
    margin-top: 10px;
}

.nj-label b{
    width: fit-content;
    text-wrap:nowrap;
    margin-bottom: 5px;
}

.nj-label textarea:hover,:focus{
    border: 1px solid #FF8387;
    outline: none;
}

.input-row{
    display: flex;
    flex-direction: row;
}

.input-row p{
    margin: 0;
}

.img-upload-container {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background-size: cover; 
    background-position: center;
}

.img-upload-label {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.img-upload {
    width: 100%;
    height: 100%;
    opacity: 0; 
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.upload-icon {
    font-size: 50px;
    padding: 100%;
    background-color: lightgray;
    opacity: 0.7;
    color: #0E38AB;
    z-index: 1;
    pointer-events: none; /* Allows the pointer to activate the input (the pointer ignores the icon) */
}

.img-upload-container:hover {
    background-color: rgb(232, 232, 232);
    transition: all 0.3s ease;
}

.img-upload-manager{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
}
.img-upload-manager p {
    font-size: small;
}

.nj-delete-image{
    background-color: #FF8387;
    border: 2px #FF8387 solid;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

.nj-delete-image:hover{
    background: none;
    transition: all 0.3s ease;
    color: #FF8387;
}

.nj-file{
    min-width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    border-radius: 20px;
    background-color: lightgray;
}

.new-file p{
    margin: 0;
}

.files-list{
    width: 60%;
    overflow-x: auto;
}

input[type="file"]{
    opacity: 0;
    width: 75px;
}