#job_page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#job_page .job_header {
    text-align: center;
}

#job_page .job_content {
    display: flex;
    justify-content: space-between;
    aspect-ratio: 3.5;
    width: 100%;
    height: 100%;
}

#job_page .job_images {
    width: 25%;
    border: 1px solid #888;
}

#job_page .job_images .image_scroll {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

#job_page .job_images .image_scroll div {
}

#job_page .job_images .image_scroll div img {
    display:block;
    margin: 0 auto;
    width: 90%;
}

#job_page .job_display {
    display: flex;
    width: 45%;
    
    background-color: #ddd;
    border: 1px solid #888;
    
    justify-content: center;
    align-items: center;
    
    position: relative;

    overflow: hidden;
}

#job_page .job_display .job_actions {
    position:absolute;
    right:0;
    bottom:0px;
    width:60px;
    height:103px;
}

#job_page .job_display .job_actions > * {
    display:block;
    width:  40px;
    height: 40px;
    margin: 5px;
}

#job_page .job_display .job_actions > *:hover {
    cursor: pointer;
}

#job_page .job_info {
    width: 25%;
    border: 1px solid #888;
    padding: 1em;
}

#job_page .job_info .tag {
    background-color: #ddd;
    display:inline-block;

    border-radius: 15px;

    margin-right: 10px;
    
    padding-top   : 5px; 
    padding-bottom: 5px;
    padding-left  : 10px;
    padding-right : 10px;

    text-decoration: none;
}

#job_page .job_info .tag:hover {
    background-color: #aaa;
}

#job_page .job_description, .job_comments {
    margin-top: 20px;
}

#job_page .other_jobs {
    margin-top: 20px;
}

#job_page .other_job {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.like_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease; /* Transición para el color y el tamaño */
}

.like_button .fa-heart {
    transition: transform 0.3s ease; /* Para animar solo el icono */
}

.like_button.liked .fa-heart {
    color: red; /* Cambia el color del icono a rojo cuando está "liked" */
    transform: scale(1.3); /* Agranda el icono un poco cuando está "liked" */
}

.like_button.unliked .fa-heart {
    color: grey; /* Color gris cuando no está "liked" */
    transform: scale(1); /* Tamaño normal cuando no está "liked" */
}

.job_files_container {
    display: flex;
    flex-direction: column;
}

.files_scroll {
    max-height: 400px;
    overflow-y: auto;
}

.file_container {
    background-color: #444;
    color: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file_container h3 {
    margin: 0;
    font-size: 1.2rem;
}

.file_actions {
    display: flex;
    gap: 10px;
}

.preview_button, .download_button {
    padding: 8px 12px;
    background-color: #888;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.preview_button:hover, .download_button:hover {
    background-color: #555;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    
  }
  
  /* Header for the popup */
  .popup .new-job-header {
    width: 100%;
    height: 100px;
    background-color: #0E38AB;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup .new-job-header h2 {
    color: white;
    margin: 0;
  }
  
  /* Main content area */
  .popup .main {
    margin: 5%;
    width: 80%;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  
  /* Close button */
  .popup .close_popup {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  

/* Estilo para el botón de previsualización */
.preview_button {
    background-color: #0E38AB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


