.filter {
    flex: 0.4; 
    padding: 20px;
    border-right: 2px solid rgb(201, 199, 199);
    box-sizing: border-box; 
    max-width: 300px;
    min-width: 300px;
    background-color: #f0f0f0;
}

h2 {
    margin-top: 0;
}

.filter_form{
    display: flex;
    flex-direction: column;
}
fieldset{
    border: none;
    padding-left: 0;
}
legend{
    padding-left: 0;
}
legend, .color_label{
    color: #0E38AB;
    font-weight: bolder;
    font-size: 23px;
    width: fit-content;
    
}
select{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #0E38AB;
}
select:focus{
    border: 2px solid #FF8387;
}

.fieldset_labels{
    font-weight: bolder;
}