.filter {
    flex: 0.4;
    padding: 1%;
    border-right: 2px solid rgb(201, 199, 199);
    box-sizing: border-box;
    max-width: 20%;
    min-width: 20%;
    background-color: #f0f0f0;
}

.filter_form {
    display: flex;
    flex-direction: column;
    position: sticky; 
    top: 20px; 
    z-index: 10;
    background-color: #f0f0f0; 
    padding: 10px; 
}

h2 {
    margin-top: 0;
}

fieldset{
    border: none;
    padding-left: 0;
    padding-bottom: 0;
}
legend{
    padding-left: 0;
    margin-bottom: -5px;
}
legend, .color_label, .customer_label, .range_label, .likes_label, .date_label, .material_label{
    color: #0E38AB;
    font-weight: bolder;
    font-size: 23px;
    width: fit-content;
    
}
select{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #0E38AB;
}
select:focus{
    border: 2px solid #FF8387;
}

.fieldset_labels{
    font-weight: bolder;
}
.filters_applied{
    border-bottom: 2px solid rgb(201, 199, 199);
    height: 5%;
    min-height: 5%;
    max-height: 5%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: start;
}
.filter_title{
    margin-top: 15px;
}
.filter_style{
    background-color: #FF8387;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 20px;

    overflow: hidden;
    text-wrap: nowrap;
    padding-left: 8px;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    color: white;
    font-weight: 900;
    font-size: 15px;
    margin: 1%;
}

#search_by_name, #search_by_date, #search_by_material{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #0E38AB;
    font-size: 15px;
    outline: none;
    margin-bottom: 10px;
    &:hover, &:active, &:focus, &:target{
        border: none;
        border-bottom: 2px solid #FF8387;
    }
}